@using AirTNG.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "User Auth | Login";
}

@section nav_bg
{
    <!-- Nav Bar -->
    <nav class="navbar navbar-space">
    </nav>
}

<div class="container">
    <div class="login-form form">
        <h1>Log in</h1>
            @using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <input type="submit" value="Log In" class="btn btn-primary" />
            }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}