<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Airtng - The Next Generation of Vacation rentals</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="//cdnjs.cloudflare.com/ajax/libs/authy-forms.js/2.2/form.authy.min.js"></script>
    <link rel="stylesheet" media="all" href="http://cdnjs.cloudflare.com/ajax/libs/authy-forms.css/2.2/form.authy.min.css" />
</head>
<body class="@ViewBag.CssBody">
    @RenderSection("nav_bg", false)
    <nav class="navbar navbar-transparent">
        <a class="navbar-brand" href="/">airtng</a>
        <ul class="nav navbar-right">
            @Html.Partial("_LoginPartial")
        </ul>
    </nav>

    @RenderSection("hero", false)

    <section id="main" class="push-nav">
        @RenderBody()
    </section>

    <footer>
        Made with <i class="fa fa-heart"></i> by your pals
        <a href="http://www.twilio.com">@@twilio</a>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>