@model AirTNG.Web.Models.VacationProperty

@{ ViewBag.CssBody = "property-page"; }

<div class="property-detail">
    <div class="overview">
        <img src="@Model.ImageUrl" alt="Vacation property image" />
    </div>
    <div class="container">
        <h1>@Model.Description</h1><span></span>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Make a Reservation</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.Label("Would you like to say anything to the host?")
                        @Html.TextArea("message", new
                                {
                                    @class = "form-control",
                                    size = "10x10",
                                    placeholder = "Hello! I am hoping to stay in your intergalactic suite..."
                                })
                    </div>
                    <div class="hidden">
                        @Html.TextBoxFor(x => x.User.Name)
                    </div>
                    <div class="hidden">
                        @Html.TextBoxFor(x => x.User.PhoneNumber)
                    </div>
                    <div class="hidden">
                        @Html.TextBoxFor(x => x.Id)
                    </div>
                    <button class="btn btn-primary">Reserve Now</button>
                }
            </div>
        </div>
    </div>
</div>