@model AirTNG.Web.ViewModels.ReservationViewModel

@{ ViewBag.CssBody = "property-page"; }

<div class="property-detail">
    <div class="overview">
        <img src="@Model.ImageUrl" alt="Vacation property image" />
    </div>
    <div class="container">
        <h1>@Model.Description</h1><span></span>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Make a Reservation</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Create", "Reservations"))
                {
                    <div class="form-group">
                        @Html.LabelFor(x => x.Message)
                        @Html.TextAreaFor(x => x.Message, new
                        {
                            @class = "form-control",
                            size = "10x10",
                            placeholder = "Hello! I am hoping to stay in your intergalactic suite..."
                        })
                        @Html.ValidationMessageFor(x => x.Message, "", new { @class = "text-danger" })
                    </div>
                    <div class="hidden">
                        @Html.HiddenFor(x => x.UserName)
                        @Html.HiddenFor(x => x.Description)
                        @Html.HiddenFor(x => x.ImageUrl)
                        @Html.HiddenFor(x => x.UserPhoneNumber)
                        @Html.HiddenFor(x => x.VacationPropertyId)
                        @Html.HiddenFor(x => x.VacationPropertyDescription)
                    </div>
                    <button class="btn btn-primary">Reserve Now</button>
                }
            </div>
        </div>
    </div>
</div>